h3, h2 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  h5 {
    margin: 0;
    padding: 0;
  }
  #a {
    text-transform: capitalize;
  }
  input{
    border: none;
    width: 280px;
    height: 28px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    /* font-family: fantasy; */
  }
  /* .App {
    text-align: center;
  } */
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .registration_form {
    /* border: 2px solid green; */
    width: 45%;
    text-align: left;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }
  .form_header {
    margin-left: 70px;
  }
  .form_name {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }
  .email {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  }
  .mobile_number {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .password {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .button {
    margin-top: 8px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .button button {
    width: 100px;
    height: 35px;
    background-color:  #558181;
    font-size: 16px;
    color:white;
    cursor: pointer;
  }
  .base {
    /* border: 2px solid blue; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
  }
  .right_container {
    border: 1px solid blue;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap ;
    width: 55%;
    height: 100vh;
  }
  .card {
    border: 1px solid blue;
    width: 300px;
    height: 150px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(41, 106, 112);
    margin-left: 30px;
  }
  .id_data {
    display: flex;
    text-align: center;
    /* justify-content: space-around; */
  }
  .name_data {
    display: flex;
    text-align: center;
    margin-top: 5px;
  }
  .email_data {
    display: flex;
    text-align: center;
    margin-top: 5px;
  }
  .mob_data {
    display: flex;
    text-align: center;
    margin-top: 5px;
  }
  .add_delete_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .edit_button {
    margin-left: 8px;
    border-width: 4px;
    border-color: rgb(146, 145, 145);
    width: 70px;
    height: 30px;
    background-color: rgb(177, 93, 93);
  }
  .update_button {
    margin-right: 8px;
    border-width: 4px;
    width: 70px;
    height: 30px;
    border-color: rgb(146, 145, 145);
    background-color: rgb(226, 240, 148);
  }
  #h3 {
    margin-left: 10px;
    font-size: 16px;
  }
  #h5 {
    font-size: 13px;
    margin-left: 11px;
    margin-top: 3px;
    font-family: cursive;
  }
  #h01 {
  margin-left: 19px;
  font-size: 13px;
  font-family: cursive;
  }
  #h02 {
    margin-left: 48px;
    font-size: 13px;
    font-family: cursive;
  }
  #h03 {
    margin-left: 25px;
    font-size: 13px;
    font-family: cursive;
  }